repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
    -   id: clang-format
        args: [-i]
-   repo: https://github.com/gaurav-nelson/pre-commit-markdown-link-check
    rev: v0.0.5
    hooks:
    -   id: markdown-link-check
        args: ['-q', '-v', 'CONTRIBUTING.md', 'README.md', 'CODE_OF_CONDUCT.md', 'plans/improvements.md']
